*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, #bb13ca, #0f7777);
}
.container{
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    transform: translate(-0%, 150%);
}
.container h1 {
    font-size: 125px;
    text-align: center;
    color: rgb(26, 202, 149);
    background: -webkit-linear-gradient(right, #ea00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    letter-spacing: 0.75rem;
}
#test {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4caf50;
    position: absolute;
    top: 50%;
    right: 45%;
}
#test:hover {
    background-color: #8f4255;
    color: white;
}
#input-field {
    font-size:25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #392885;
    color: rgb(211, 199, 33);

}
.typing-text{
    height: inherit;
    overflow: hidden;
}
#corpus{
    background-color: inherit;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 28.96875px;
}
.typing-section {
    background-color: inherit;
    height: 57.9375px;
    margin: 25px;
}
.finalStats{
    transform: translate(-0%, 350%);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
#Countdown{
    transform: translate(-0%, 25%);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    display: block;


}